<% include partials/header %> 
<div class="home_container flex">
    <aside class="py-16 h-screen">
        <div>
             <img class="image_crop w-2/6" src="/images/birdlogo.png" alt="">
             <nav>
                 <ul class="">
                     <li class="li flex  align_center w-2/12 highlite"><img src="https://img.icons8.com/fluency/48/000000/globe.png"/> <a href="/home">Home</a></li>
                     <li class="li flex  align_center w-2/12"><img src="https://img.icons8.com/fluency/48/000000/google-home.png"/> <a href="">Explore</a></li>
                     <!-- <li class="li flex  align_center w-2/12"><img src="https://img.icons8.com/fluency/48/000000/test-account.png"/> <a href="">Profile</a></li> -->
                     <% if(user.profilePic) { %>
                         <div class="flex justify-center">
                         <li class="li flex  align_center mr-20 px-24 ">
                                 <% if(user.profilePic.includes('http')) { %>
                                     <img src="<%= user.profilePic %>" alt="Profile Pic" class="w-6/12 rounded-full ml-0">
                                 <% } else { %>
                                     <img src="/uploads/<%= user.profilePic %>" alt="Profile Pic" class="w-full rounded-full">
                                 <% } %>

                                 <a href="/profile">Profile</a>
                         </li>

                         
                         </div>
                 <% } %>
                     <li class="li flex  align_center w-2/12"><img src="https://img.icons8.com/fluency/48/000000/more.png"/> <a href="">More</a></li>
                 </ul>
             </nav>

             <section class="flex flex-col items-center">
                 <% if(user.profilePic) { %>
                      <div class="flex justify-center w-2/4 mt-20">
                          <% if(user.profilePic.includes('http')) { %>
                              <img src="<%= user.profilePic %>" alt="Profile Pic" class="w-6/12 rounded-full">
                         <% } else { %>
                              <img src="/uploads/<%= user.profilePic %>" alt="Profile Pic" class="w-full rounded-full">
                         <% } %>
                      </div>
                 <% } %>

                  <h4 class="text-green-600 mt-1 font-bold" > <%= user.name %></h4>
                  <a href="/users/logout">
                      <button class="border-2 mt-4 py-1 px-5 rounded-xl "><i class="fas fa-power-off"></i><strong class="ml-2">Logout</strong></button>
                  </a>
              </section>
        </div>

     </aside>



     <!-- //////////////////////////////////////////////////////////////// -->



     <section class="ml-14 right">
        

        <article class="w-full border-2 py-5">
            <div class="flex items-center w-3/6">
                <img src="images/birdlogo.png" alt="">
                <p class="ml-3">name of the profile </p>
        </div>
        </article>
    </section>

</div>
